<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar sebagai pasien</title>
</head>

<body>
    <h1>Daftar sebagai pasien yuk</h1>
    <h3>Note, format tanggal adalah yyyy-mm-dd</h3>
    <form action="" method="post">
        {%csrf_token%}
        {{form}}
        <button type="submit">
            DAFTAR
        </button>
    </form>
    {% if error %}
    <h1 style="color:red" >Username is taken lmao</h1>
    {% endif %}
</body>

</html>