{% load static %}
{% include "pages/base_admin.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RS Cabang</title>
</head>
<style type='text/CSS'> 
    .center {text-align : center}
</style>

<body>

    <h1 class='center'> PENDAFTARAN RS CABANG </h1>
    </br>
    <form action="" method="post" class='center'>

        {% csrf_token %}
        
        <div class="form-group">
            <label class='left'>Kode RS</label>
            <div>{{form.kodeRs}}</div>
        </div>

        <div class="form-group">
            <label>Nama RS</label>
            <div>{{form.nama}}</div>
        </div>

        <div class="form-group">
            <label>Tanggal Pendirian</label>
            <div>{{form.tanggalPendirian}}</div>
        </div>

        <div class="form-group">
            <label>Jalan</label>
            <div>{{form.jalan}}</div>
        </div>

        <div class="form-group">
            <label>Nomor</label>
            <div>{{form.nomor}}</div>
        </div>

        <div class="form-group">
            <label>Kota</label>
            <div>{{form.kota}}</div>
        </div>

        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>

</body>

</html>