{% load static %}
{% if is_admin %}
{% include "pages/base_admin.html" %}
{% endif %}
{% if not is_admin %}
{% include "pages/base.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Tindakan Poliklinik</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<body>
    <h1>Display Tindakan Poliklinik</h1>
    <table>
        <tr>
            <th>ID Tindakan Poliklinik</th>
            <th>ID Poliklinik</th>
            <th>Nama Tindakan</th>
            <th>Deskripsi</th>
            <th>Tarif</th>
            {% if is_admin %}
            <th>Action</th>
            {% endif %}
        </tr>
        {% for tindakan_poliklinik in data %}
        <tr>
            <td>{{ tindakan_poliklinik.id_tindakan_poli }}</td>
            <td>{{ tindakan_poliklinik.id_poliklinik }}</td>
            <td>{{ tindakan_poliklinik.nama_tindakan }}</td>
            <td>{{ tindakan_poliklinik.deskripsi }}</td>
            <td>{{ tindakan_poliklinik.tarif }}</td>
            {% if is_admin %}
            <td>
                <a href="/tindakan-poliklinik/update/?id_tindakan_poli={{tindakan_poliklinik.id_tindakan_poli}}">
                    <button>UPDATE</button>
                </a>
                <br>
                <a href="">
                    <button onclick="deleteTindakanPoli('{{tindakan_poliklinik.id_tindakan_poli}}')">DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
</body>

<script>
    const deleteTindakanPoli = (id_tindakan_poli) => {
        var xhttp = new XMLHttpRequest();
        var data = {
            payload: id_tindakan_poli
        }
        var json = JSON.stringify(data);
        xhttp.open("POST", "/tindakan-poliklinik/delete/");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
        alert(`Tindakan poliklinik dengan ID=${id_tindakan_poli} berhasil di delete!`);
    }
</script>

</html>