{% load static %}
{% if is_admin %}
{% include "pages/base_admin.html" %}
{% endif %}
{% if not is_admin %}
{% include "pages/base.html" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Sesi Konsultasi</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<body>
    <h1>LIST SESI KONSULTASI</h1>
    <table>
        <tr>
            <th>ID Konsultasi</th>
            <th>Nomor Pasien</th>
            <th>Tanggal</th>
            <th>Biaya</th>
            <th>Status</th>
            <th>ID Transaksi</th>
            {% if is_admin %}
            <th>Action Admin</th>
            {% endif %}
        </tr>
        {% for sk in data %}
        <tr>
            <td>{{ sk.id_konsultasi }}</td>
            <td>{{ sk.no_rekam_medis_pasien }}</td>
            <td>{{ sk.tanggal }}</td>
            <td>{{ sk.biaya }}</td>
            <td>{{ sk.status }}</td>
            <td>{{ sk.id_transaksi }}</td>
            {% if is_admin %}
            <td>
                <a href="/sesikonsultasi/update/?id_konsultasi={{sk.id_konsultasi}}">
                    <button onclick="alert('updated')">UPDATE</button>
                </a>
                <br>
                <a href="">
                    <button onclick="deleteSK('{{sk.id_konsultasi}}')">DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
      
    </table>
</body>
<script>
    const deleteSK = (id_konsultasi) => {
        var xhttp = new XMLHttpRequest();
        var data = {
            payload: id_konsultasi
        }
        var json = JSON.stringify(data);
        xhttp.open("POST", "/sesikonsultasi/delete/");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
        alert(`${id_konsultasi} Berhasil di delete!`);
    }
</script>

</html>