body {
  margin: 0;
  padding: 0;
  background-image: url("https://cf.ltkcdn.net/family/images/orig/200821-2121x1414-family.jpg");
}
.container-me {
  display: flex;
  flex-direction: column;
  backdrop-filter: grayscale(100%);
  background: red;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.kerja {
  font-size: 5em;
  color: white;
  font-weight: bold;
  color: yellow;
  text-shadow: 3px 3px black;
}

.button {
  text-decoration: none;
  width: 4em;
  height: 2em;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  color: yellow;
  text-shadow: 1px 1px black;
  margin-bottom: 2em;
}
