{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/profile">Profile</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/sesikonsultasi/display/">Daftar Sesi Konsultasi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tindakan-poliklinik/display/">Daftar Tindakan Poliklinik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tindakan/display/">Daftar Tindakan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resep/display/">Daftar Resep</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/obat/display/">Daftar Obat</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    RS Cabang
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/rscabang/display/">Daftar RS Cabang</a>
                    <a class="dropdown-item" href="">Daftar Dokter RS Cabang</a>
                    <a class="dropdown-item" href="/rscabang/display/">Daftar RS Cabang</a>
                    <a class="dropdown-item" href="/dokter/display/">Daftar Dokter RS Cabang</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/layanan_poliklinik/display/">Daftar Layanan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transaksi/display/">Daftar Transaksi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>