{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<title>MedikaGo | Healthcare at a glance</title>
<!-- Start of page content -->
<!-- Text landing -->
<div class="container-me">
    <div class="kerja">Medikago</div>
    <div class="subtitle">Karena Kesehatan Takkan Pernah Mati </div>
    {% if is_logged_in == False %}
    <a href="/login" class="button">
        <div>
            Login
        </div>
    </a>
    <br>
    <a href="/register" class="button">
        <div>
            Register
        </div>
    </a>
    {% endif %}

    {% if is_logged_in %}
    <a href="/logout" class="button">
        <div>
            Logout
        </div>
    </a>
    {% endif %}



</div>