{% load static %}
{% if is_admin %}
{% include "pages/base_admin.html" %}
{% endif %}
{% if not is_admin %}
{% include "pages/base.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<body>
    <h1>Hello,
        {% for user in user_data %}
        {{ user.nama_lengkap }}
        {% endfor %}
    </h1>
    {% if is_admin %}
    <marquee>
        <h1 style="  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
        color: transparent;
      }">Cool, you're an ADMIN</h1>
    </marquee>
    {% endif %}

    <br><br>

    <h5>Pengguna yang terdaftar sebagai administrator : </h5>
    <table>
        <tr>
            <th>Nomor Pegawai</th>
            <th>Username</th>
            <th>Nama Lengkap</th>
            <th>Nomor ID</th>
            <th>Kode Rumah Sakit</th>
            <th>Alamat</th>
            <th>Tanggal Lahir</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        {% for administrator in data_administrator %}
        <tr>
            <td>{{ administrator.nomor_pegawai }}</td>
            <td>{{ administrator.username }}</td>
            <td>{{ administrator.nama_lengkap }}</td>
            <td>{{ administrator.nomor_id }}</td>
            <td>{{ administrator.kode_rs }}</td>            
            <td>{{ administrator.alamat }}</td>
            <td>{{ administrator.tanggal_lahir }}</td>
            <td>{{ administrator.email }}</td>
            <td>{{ administrator.password }}</td>   
        </tr>
        {% endfor %}
    </table>

    <br>

    <h5>Pengguna yang terdaftar sebagai dokter : </h5>
    <table>
        <tr>
            <th>ID Dokter</th>
            <th>Username</th>
            <th>Nama Lengkap</th>
            <th>No SIP</th>
            <th>Nomor ID</th>
            <th>Spesialisasi</th>
            <th>Alamat</th>
            <th>Tanggal Lahir</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        {% for dokter in data_dokter %}
        <tr>
            <td>{{ dokter.id_dokter }}</td>
            <td>{{ dokter.username }}</td>
            <td>{{ dokter.nama_lengkap }}</td>
            <td>{{ dokter.no_sip }}</td>
            <td>{{ dokter.nomor_id }}</td>
            <td>{{ dokter.spesialisasi }}</td>            
            <td>{{ dokter.alamat }}</td>
            <td>{{ dokter.tanggal_lahir }}</td>
            <td>{{ dokter.email }}</td>
            <td>{{ dokter.password }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <h5>Pengguna yang terdaftar sebagai pasien : </h5>
    <table>
        <tr>
            <th>Nomor Rekam Medis</th>
            <th>Username</th>
            <th>Nama Lengkap</th>
            <th>Nomor ID</th>
            <th>Nama Asuransi</th>
            <th>Alamat</th>
            <th>Tanggal Lahir</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        {% for pasien in data_pasien %}
        <tr>
            <td>{{ pasien.no_rekam_medis }}</td>
            <td>{{ pasien.username }}</td>
            <td>{{ pasien.nama_lengkap }}</td>
            <td>{{ pasien.nomor_id }}</td>
            <td>{{ pasien.nama_asuransi }}</td>            
            <td>{{ pasien.alamat }}</td>
            <td>{{ pasien.tanggal_lahir }}</td>
            <td>{{ pasien.email }}</td>
            <td>{{ pasien.password }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>