{% load static %}
{% include "pages/base_admin.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Tindakan</title>
</head>

<body>
    <h1>Buat Tindakan</h1>
    <button id="tambah_tindakan">Tambah Tindakan</button>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <br>
        <div id="daftar_tindakan"></div>
        <button id="btn_submit">SUBMIT</button>
    </form>
</body>

<script>
    var counter = 1;
    var button = document.getElementById("tambah_tindakan");
    button.addEventListener('click', function () {
        var select = document.getElementById("id_id_tindakan_poliklinik");
        var clone = select.cloneNode(true);
        clone.id = `id_id_tindakan_poliklinik${counter}`
        document.getElementById('daftar_tindakan').insertAdjacentHTML('beforeend', clone.outerHTML);
        counter += 1;
    });

    var submit = document.getElementById("btn_submit");
    submit.addEventListener('click', function () {
        const id_tindakan_poliklinik = document.getElementById("id_id_tindakan_poliklinik").value;
        var arr_id_tindakan_poli = [id_tindakan_poliklinik]

        for (i = 1; i < counter; i++) {
            var val = document.getElementById(`id_id_tindakan_poliklinik${i}`).value;
            if (arr_id_tindakan_poli.includes(val)) {
                return alert("ID tindakan poliklinik tidak boleh sama!");
            }
            arr_id_tindakan_poli.push(val);
        }
    });
</script>

</html>