{% load static %}
{% if is_admin %}
{% include "pages/base_admin.html" %}
{% endif %}
{% if not is_admin %}
{% include "pages/base.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Tindakan</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<body>
    <h1>Display Tindakan</h1>
    <table>
        <tr>
            <th>ID Konsultasi</th>
            <th>No Urut</th>
            <th>Biaya</th>
            <th>Catatan</th>
            <th>ID transaksi</th>
            <th>Daftar ID Tindakan Poli</th>
            {% if is_admin %}
            <th>Action</th>
            {% endif %}
        </tr>
        {% for tindakan in data %}
        <tr>
            <td>{{ tindakan.id_konsultasi }}</td>
            <td>{{ tindakan.no_urut }}</td>
            <td>{{ tindakan.biaya }}</td>
            <td>{{ tindakan.catatan }}</td>
            <td>{{ tindakan.id_transaksi }}</td>
            <td>{{ tindakan.string_agg }}</td>
            {% if is_admin %}
            <td>
                <a href="/tindakan/update/?id_konsultasi={{tindakan.id_konsultasi}}&no_urut={{tindakan.no_urut}}">
                    <button>UPDATE</button>
                </a>
                <br>
                <a href="">
                    <button onclick="deleteTindakan('{{tindakan.id_konsultasi}}', '{{tindakan.no_urut}}')">DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
</body>

<script>
    const deleteTindakan = (id_konsultasi, no_urut) => {
        var xhttp = new XMLHttpRequest();
        var payload = {
            id_konsultasi: id_konsultasi,
            no_urut: no_urut,
        };
        var data = {            
            payload: payload,
        }
        var json = JSON.stringify(data);
        xhttp.open("POST", "/tindakan/delete/");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
        alert(`Tindakan dengan ID konsultasi=${id_konsultasi} & No urut=${no_urut} berhasil di hapus!`);
    }
</script>

</html>