{% load static %}
{% include "pages/base_admin.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftarkan Dokter ke RS Cabang</title>
<style>
</style>
</head>

<body>
    <h2>FORM PENDAFTARAN DOKTER RS CABANG</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
    </br><button type="submit">SUBMIT</button>
    </form>
</body>

</html>