{% if is_admin %}
{% include "pages/base_admin.html" %}
{% endif %}
{% if not is_admin %}
{% include "pages/base.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Dokter RS Cabang</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<body>
    <h1>Daftar Dokter-RS Cabang</h1>
    <table>
        <tr>
            <th>No</th>
            <th>Kode RS Cabang</th>
            <th>ID Dokter</th>
            {% if is_admin %}
            <th>Action</th>
            {% endif %}
        </tr>
        {% for dokter_rs_cabang in data %}
        <tr>
            <td>{{ dokter_rs_cabang.row_number }}</td>
            <td>{{ dokter_rs_cabang.kode_rs }}</td>
            <td>{{ dokter_rs_cabang.id_dokter }}</td>
            {% if is_admin %}
            <td>
                <a href="">
                    <button onclick="deleteDokter('{{dokter_rs_cabang.kode_rs}}','{{ dokter_rs_cabang.id_dokter }}')">DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
</body>

<script>
    const deleteDokter = (rs_cabang,id_dokter) => {
        var xhttp = new XMLHttpRequest();
        var data = {
            payload: {rs_cab: rs_cabang, id_dok: id_dokter}
        }
        var json = JSON.stringify(data);
        xhttp.open("POST", "/dokter/delete/");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
        alert(`${rs_cab} & ${id_dok} Berhasil di delete!`);
    }
    
</script>

</html>