{% load static %}
{% include "pages/base_admin.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Obat</title>
</head>

<body>
    <h1>Create Obat yuk</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">SUBMIT</button>
    </form>
</body>

<script>

</script>

</html>