{% load static %}
{% if is_admin %}
{% include "pages/base_admin.html" %}
{% endif %}
{% if not is_admin %}
{% include "pages/base.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Obat</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<body>
    <h1>Display Obat</h1>
    <table>
        <tr>
            <th>Kode</th>
            <th>Stok</th>
            <th>Harga</th>
            <th>Komposisi</th>
            <th>Bentuk Sediaan</th>
            <th>Merk Dagang</th>
            {% if is_admin %}
            <th>Action</th>
            {% endif %}
        </tr>
        {% for obat in data %}
        <tr>
            <td>{{ obat.kode }}</td>
            <td>{{ obat.stok }}</td>
            <td>{{ obat.harga }}</td>
            <td>{{ obat.komposisi }}</td>
            <td>{{ obat.bentuk_sediaan }}</td>
            <td>{{ obat.merk_dagang }}</td>
            {% if is_admin %}
            <td>
                <a href="/obat/update/?kode={{obat.kode}}">
                    <button>UPDATE</button>
                </a>
                <br>
                <a href="">
                    <button onclick="deleteObat('{{obat.kode}}')">DELETE</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
</body>

<script>
    const deleteObat = (kode_obat) => {
        var xhttp = new XMLHttpRequest();
        var data = {
            payload: kode_obat
        }
        var json = JSON.stringify(data);
        xhttp.open("POST", "/obat/delete-obat/");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
        alert(`${kode_obat} Berhasil di delete!`);
    }
</script>

</html>